[Unit]
Description=DNSBox DNS Server
After=network.target

[Service]
User={{USER}}
ExecStart={{BIN_PATH}}
WorkingDirectory={{WORKDIR}}
Restart=always
RestartSec=5

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

Environment=DNSBOX_IP={{IP}}
Environment=DNSBOX_DOMAIN={{DOMAIN}}
Environment=DNSBOX_NS_NAME={{NS_NAME}}
Environment=DNSBOX_DEBUG={{DEBUG_ENV}}

[Install]
WantedBy=multi-user.target